.TodoCounterh2{
    font-size: 24px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: initial;
}


.TodoCounterh1{
    font-size: 45px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin: 1em 1em 0.5em 0.5em;
    margin-top: 50px;
}
